RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^/%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^%{REQUEST_URI}.html [NC,L]
RewriteRuke ^i_love_you i_love_you.html [NC]
