* {
    padding : 0;
    margin : 0;
	outline:none;
	font-family: "Times New Roman", Helvetica, sans-serif;
}

body {
   background : white;
   color : black;
	height: 100vh;
	width: 100vw;
}

#container{
	position:fixed;
	font-size: 30px;
	height: auto;
	padding: 30px;
	display:flex;
	align-items: center;
	justify-content: center;
	flex: center;
}

#content{
	text-align:center;
	justify-content: center;
	vertical-align: middle;
}

#gender{
	display:block;
}
input[type="radio"], label{
	font-size:25px;
	float:left;
	height: 20px;
	line-height: 20px;
}

#gender label{
	padding-left: 20px;
}

.ily-button{
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-size: 30px;
	font-weight:bold;
	height: 50px;
	width: 150px;
	background-color: white;
	outline:none;
	border-radius: 10px;
	border: solid 2px blue;
	color: blue;
	display: block;
	margin: auto auto;
	transition: all 0.25s;
}

.ily-button:hover{
	color:white;
	background:blue;
}

#question{
	display: none;
}
p{
	margin: auto auto;
	margin-bottom: 20px;
	font-weight:bold;
}

#ok-button{
	margin-top:20px;
}

#question button{
	position:absolute;
}
#yes-button{
	left:60px;
}

#no-button{
	left:270px;
}
@media (max-width: 858px){
	#container{
		font-size: 20px;
	}
	input[type="radio"], label{
		font-size:18px;
	}
	.ily-button{
		font-size:18px;
		height: 45px;
		width: 145px;
	}
	#question button{
		width: 125px;
		height:40px;
	}
	#yes-button{
		left:25px;
	}
	#no-button{
		left:195px;
	}
}